---
layout: base
---

{% for post in paginator.posts %}
<h1 style="cursor:pointer;" onclick="jumpWithURL('{{ post.url }}');">{{ post.title }}</h1>
{% assign content = post.content | newline_to_br | split: '<br />' %}
{% if content.size > 10 %}
<div markdown="1">
{{ content | slice: 0, 10 }}
</code>
</div>
<a href="{{ post.url }}">(更多...)</a>
{% else %}
<div markdown="1">
{{ post.content }}
</div>
{% endif %}
<hr>
{% endfor %}
<center>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">上一页</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</em>
    {% elsif page == 1 %}
      <a href="/">1</a>
    {% else %}
      <a href="/page{{ page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">下一页</a>
  {% endif %}
</div>
</center>